.quill-wrapper {
  white-space: pre;
  &.quill-preview {
    .ql-toolbar {
      display: none;
    }
    .ql-container {
      border: none;
    }
    &.quill-hide {
      .ql-container {
        display: none;
      }
    }
  }
}

.ql-snow .ql-stroke.ql-thin,
.ql-snow .ql-thin {
  stroke-width: 1px !important;
}

.ql-snow .ql-toolbar button svg,
.quill-wrapper .ql-snow.ql-toolbar button svg {
  width: 22px;
  height: 22px;
}

.quill-wrapper .ql-editor ul[data-checked=false] > li::before,
.quill-wrapper .ql-editor ul[data-checked=true] > li::before {
  font-size: 1.35em;
  vertical-align: baseline;
  bottom: -0.065em;
  font-weight: 900;
  color: #222;
}

.quill-wrapper .ql-snow .ql-stroke {
  stroke: rgba(63, 63, 63, 0.95);
  stroke-linecap: square;
  stroke-linejoin: initial;
  stroke-width: 1.7px;
}

.quill-wrapper .ql-picker-label {
  font-size: 15px;
}

.quill-wrapper .ql-snow .ql-active .ql-stroke {
  stroke-width: 2.25px;
}

.quill-wrapper .ql-toolbar.ql-snow .ql-formats {
  vertical-align: top;
}

.ql-picker {
  &:not(.ql-background) {
    position: relative;
    top: 2px;
  }

  &.ql-color-picker {
    svg {
      width: 22px !important;
      height: 22px !important;
    }
  }
}

.quill-wrapper {
  & .imageResizeActive {
    img {
      display: block;
      cursor: pointer;
    }

    & ~ div svg {
      cursor: pointer;
    }
  }
}
